<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="VinotecaAbonado-ejbPU" transaction-type="JTA">
    <jta-data-source>jdbc/Vinoteca</jta-data-source>
    <class>Dominio.Persona</class>
    <class>Dominio.Estadopedido</class>
    <class>Dominio.Pedido</class>
    <class>Dominio.Preferencia</class>
    <class>Dominio.Abonado</class>
    <class>Dominio.Factura</class>
    <class>Dominio.Lineapedido</class>
    <class>Dominio.Lineacompra</class>
    <class>Dominio.Compra</class>
    <class>Dominio.Estadofactura</class>
    <class>Dominio.Vino</class>
    <class>Dominio.Referencia</class>
    <class>Dominio.Empleado</class>
    <class>Dominio.Bodega</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
    </properties>
  </persistence-unit>
</persistence>
